[Unit]
Description=ROSA Freeze service to freeze non-root partitions
After=local-fs.target
Before=mandriva-boot-links.service fedora-autorelabel.service

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/rfreeze
ExecStart=/usr/sbin/rosa-freeze-partition

[Install]
WantedBy=basic.target
